body {
  margin: 0;
}
header {
  display: block;
  height: 84px;
  background-color: #007765;
}
.header {
  width: 100%;
  position: fixed;
  margin-top: 19px;
  margin-bottom: 19px;
}

.logo {
  float: left;
  width: 184px;
  height: 45px;
  padding-left: 55px;
}

nav {
  float: right;
}
/* TODO:Выровнять линию меню и логотипа*/

nav ul {
  margin: 0;
  padding-right: 55px;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  list-style: none;
}

nav li {
  padding-left: 8px;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 600;
  font-size: 24px;
  display: inline-block;
}
